* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Arial;
	line-height: 22px;
}

.caja {
	background: #0353a4;
	width: 200px;
	/*height: 200px;*/

	margin:20px;
	padding: 20px;
	/*padding-top:20px;
	padding-right:10px;
	padding-left:5px;
	padding-bottom:0px;*/

	border:5px solid #000;


/*	margin-top:20px;
	margin-right:10px;
	margin-left:5px;
	margin-bottom:0px;*/
}

.caja p {
	background: #eee5e9;
}